@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    font-family:  "Inter", sans-serif;;
}

body{
    background-color:#f1f6fc31;
}

section, footer{
    padding: 54px 0px;

}

h3{
    font-size: 50px;
}

p{
    color: #0000009c;
}

.container{
    max-width: 1100px;
    margin: 0px auto;
}

header{
    background-image: url('../imagens/background-home.jpg');
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 30px;

}

nav ul{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 50px; 
}

nav ul a{
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
}

nav ul a:not(.btn)::after{
    content: "";
    background-color: red;
    height: 3px;
    width: 0%;
    display: block;
    transition: 0.3s;
}

nav ul a:hover::after{
    width: 100%;
    margin: 0px auto;
}

.btn{
    color: white;
    padding: 10px 20px;
    background-color: #4f9cf9;
    border-radius: 10px;
    cursor: pointer;
   
    transition: .2s;
    max-width: 200px;
}

.btn:hover{
    background-color: #3580db;
}

.sec-one{
    display: flex;
    justify-content: center;
}

.sec-one .sec-one-text{
    text-align: center;
    margin: 60px 150px;
    padding: 0px 90px;
}

.sec-one .sec-one-text h1{
    color: white;
    font-size: 96px;
    text-transform: uppercase;
}

.sec-one .sec-one-text p{
    font-size: 20px;
    color: white;
    padding: 10px 0px 30px 0px;
}

.sec-two{
    background-color: #fff;
}

.sec-two .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sec-two .container .sec-two-text h3{
    font-size: 56px;
}

.sec-two .container .sec-two-text p{
    margin: 10px 0px 30px 0px;
}

.sec-tree{
    background-color: #fff;
}

.sec-tree .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sec-tree .container .sec-tree-text h3{
    font-size: 56px;
}

.sec-tree .container .sec-tree-text p{
    margin: 10px 0px 30px 0px;
}

.sec-tree .container .sec-tree-img{
    width: 100%;
}

.sec-for{
    background-color: white;
    text-align: center;
}
.sec-for .container{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.sec-for img{
    width: 60px;
    border-radius: 100%;
}

.sec-for .container .card-itens{
    background-color: #D1E6F6;
    width: 300px;
    padding: 10px;
    border-radius: 10px;
}

.sec-for .container .card-itens p{
    padding: 15px 0px ;
}

.sec-five{
    background-color: white;
}

.sec-five .container h3, p{
    text-align: center;
    padding: 10px 0px;
}

.sec-five .container div{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 10px;
}

.sec-six{
    background-color: white;
}

.sec-six .container{
    display: flex;
}

footer {    
    height: 100px;
}







